body{

background-image: url("/img/libro.jpg");


}
.logo{
    
	width: 20%;
	display:block;
	margin:auto;
	margin-right: 27.75%;
	border-radius: 20px;
}
.busqueda {
	
	display:block;
	margin:auto;
	
	border-radius: 20px;
	width: 80%;
	padding: 0.7%;
	border: solid 2px gray;
	font-size: 20px;
	text-align: center;
	background-color: rgba(255, 255, 255, 0.9);
}

.separador{
	margin-top:50px;
}
.separador2{
	margin-top:20px;
}


.enviar {
	font-size: 17px;
	cursor: pointer;
	background-color: #ffffff;
	color: #000000;
	border-radius: 10px;
	border-width: 2px;
	border-style: solid;
	border-color: #000000;
	border-image: initial;
	padding: 0.5% 1.5%;
	display:block;
	margin:auto;
}

a{	
	
	color: white;
}
.lista {
	border-radius: 10px;
	border: solid 3px #FFC471;
	padding: 2% 2% 2% 2%;
	min-width: 30%;
	background-color: rgba(253, 253, 253, 0.5);
	
}
.lista6{
	border-radius: 10px;
	border: solid 3px black;
	padding: 2%;
	min-width: 30%;
	
	
}
.lista5 {
	border-radius: 10px;
	border: solid 3px #FFC471;
	padding: 2%;
	min-width: 30%;
	background-color: rgba(253, 253, 253, 0.1);
	
}
.lista4 {
	border-radius: 10px;
	border: solid 3px #FFC471;
	padding: 2%;
	min-width: 30%;
	background-color: rgba(180, 61, 37, 0.4);
	
}
legend {
	font-weight: bold;
	font-size: 17px;
	text-align: center;
}
.lista2{
	margin-top:7px;
	margin-right:10px;
	border-radius: 10px;
	background-color: rgba(255, 255, 255, 0.4);
	border: solid 3px #FFC471;
	padding: 1%;
	float: left; 
	width: 15%; 
	
}
.lista3{
	margin-top:7px;
	margin-right:10px;
	
	background-color: rgba(255, 255, 255, 0.6);
	border: solid 3px #FFC471;
	width: 300px;
	height: 370px;
	float: left; 
	 
	
}
#cover{
	width: 180px;
	height: 210px;
	padding: 20px 50px 5px;
}
#cover2{
	width: 180px;
	height: 210px;
	padding: 0.5px  5px 3px;
}
#video_background { 
	position: absolute; 
	bottom: 0px; 
	right: 0px; 
	min-width: 100%; 
	min-height: 100%; 
	width: auto; 
	height: auto; 
	z-index: -1000; 
	overflow: hidden; 
}
#video_pattern { 
	background:#fff; 
	position: fixed; 
	opacity: 0.8; 
	left: 0px; 
	top: 0px; 
	width: 100%; 
	height: 100%; 
	z-index: 1; 
}
.loguea{
	float: right;
	font-family: "Palatino", sans-serif;
}
.formu{
	
  
  padding: 40px;
  max-width:700px;
  margin:40px auto;
  border-radius:$br;
  box-shadow:0 4px 10px 4px rgba(#13232f,.3);

}
.estilotextarea {width:600px;height:500px;border: 2px solid #FFC471;}

.espacios{
	padding:5px 10px 5px;
	color: #333333;
    font-family: Century Gothic, sans-serif;
    font-size: 12pt;
}

.espacios2{
	padding:5px 10px 5px;
	color: #333333;
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
    font-size: 12pt;
}
.letra{
	 font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
	 color:white;
}


nav.acceder ul {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  
}

nav.acceder #login{
  display: inline;
  font-size: 16px;
  padding: 2px 10px;
  text-decoration: none;
  border: 1px solid #fff;
  font-weight: 600

}
nav.acceder #login-content {

  top: 26px;
  right: 0;
  z-index: 999;    

  padding: 15px;
  border-radius: 10px 0 10px 10px;
  width: 550px; 
  display: none;
}
.api {
	font-size: 17px;
	color: #34D896;
	font-weight: bold;
	
}
.contenedor{
	vertical-align: middle;
        text-align: center;
}
.wrap{
	padding: 5px 5px 5px 5px;
	 punto 
background: rgba(254,188,119,1);
background: -moz-linear-gradient(-45deg, rgba(254,188,119,1) 0%, rgba(254,180,103,0.36) 19%, rgba(253,154,48,0.36) 84%);
background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(254,188,119,1)), color-stop(19%, rgba(254,180,103,0.36)), color-stop(84%, rgba(253,154,48,0.36)));
background: -webkit-linear-gradient(-45deg, rgba(254,188,119,1) 0%, rgba(254,180,103,0.36) 19%, rgba(253,154,48,0.36) 84%);
background: -o-linear-gradient(-45deg, rgba(254,188,119,1) 0%, rgba(254,180,103,0.36) 19%, rgba(253,154,48,0.36) 84%);
background: -ms-linear-gradient(-45deg, rgba(254,188,119,1) 0%, rgba(254,180,103,0.36) 19%, rgba(253,154,48,0.36) 84%);
background: linear-gradient(135deg, rgba(254,188,119,1) 0%, rgba(254,180,103,0.36) 19%, rgba(253,154,48,0.36) 84%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#febc77', endColorstr='#fd9a30', GradientType=1 );
	box-shadow: 10px 5px 5px black;
	border-radius: 5px;
}
.wrap2{
	padding: 5px 5px 5px 5px;
	 punto 
background: rgba(255,255,255,1);
background: -moz-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(249,249,249,0.53) 27%, rgba(246,246,246,0.53) 43%, rgba(237,237,237,0.53) 100%);
background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(27%, rgba(249,249,249,0.53)), color-stop(43%, rgba(246,246,246,0.53)), color-stop(100%, rgba(237,237,237,0.53)));
background: -webkit-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(249,249,249,0.53) 27%, rgba(246,246,246,0.53) 43%, rgba(237,237,237,0.53) 100%);
background: -o-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(249,249,249,0.53) 27%, rgba(246,246,246,0.53) 43%, rgba(237,237,237,0.53) 100%);
background: -ms-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(249,249,249,0.53) 27%, rgba(246,246,246,0.53) 43%, rgba(237,237,237,0.53) 100%);
background: linear-gradient(135deg, rgba(255,255,255,1) 0%, rgba(249,249,249,0.53) 27%, rgba(246,246,246,0.53) 43%, rgba(237,237,237,0.53) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=1 );
	box-shadow: 10px 5px 5px black;
	border-radius: 5px;
}
}
