<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>HelloWorld</servlet-name>
    <servlet-class>aiss.HelloWorldServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloWorld</servlet-name>
    <url-pattern>/helloworld</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookSearchController</display-name>
    <servlet-name>bookSearchController</servlet-name>
    <servlet-class>aiss.controller.bookSearchController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>bookSearchController</servlet-name>
    <url-pattern>/bookSearchController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookShowController</display-name>
    <servlet-name>bookShowController</servlet-name>
    <servlet-class>aiss.controller.bookShowController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>bookShowController</servlet-name>
    <url-pattern>/bookShowController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <servlet-name>RedditOauth2Callback</servlet-name>
    <servlet-class>aiss.controller.oauth.RedditOauth2Callback</servlet-class>
    <init-param>
      <param-name>provider</param-name>
      <param-value>Reddit</param-value>
    </init-param>
    <init-param>
      <param-name>onSuccess</param-name>
      <param-value>redirect:/redditUser</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>RedditOauth2Callback</servlet-name>
    <url-pattern>/oauth2callback/Reddit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RedditAuthController</display-name>
    <servlet-name>RedditAuthController</servlet-name>
    <servlet-class>aiss.controller.oauth.RedditAuthController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RedditAuthController</servlet-name>
    <url-pattern>/RedditAuthController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RedditLogOut</display-name>
    <servlet-name>RedditLogOut</servlet-name>
    <servlet-class>aiss.controller.RedditLogOut</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RedditLogOut</servlet-name>
    <url-pattern>/redditLogOut</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RedditSendPost</display-name>
    <servlet-name>RedditSendPost</servlet-name>
    <servlet-class>aiss.controller.RedditSendPost</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RedditSendPost</servlet-name>
    <url-pattern>/redditSendPost</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MerchController</display-name>
    <servlet-name>MerchController</servlet-name>
    <servlet-class>aiss.controller.MerchController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MerchController</servlet-name>
    <url-pattern>/MerchController</url-pattern>
  </servlet-mapping>
</web-app>