<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<servlet>
		<servlet-name>HelloWorld</servlet-name>
		<servlet-class>aiss.HelloWorldServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>HelloWorld</servlet-name>
		<url-pattern>/helloworld</url-pattern>
	</servlet-mapping>
	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	
	<!--  OAUTH SERVLETS 
  
  	For each OAuth 2.0 service, you need to create two servlets: one for the initiation 
  	and another for the callback. After sucess the token for the provider will be available
  	in the session scope under the name <provider>-token. E.g.: Spotify-token.
  	
  	Those servlets support 2 parameters:
  	 - provider: which is mandatory and specifies the configuration from the OAuthConfig.json file which
  	    will be applied.
  	 - onSuccess: which is optional specifies the behaviour of the servlet after an successful 
  	 	authorization. If you specify close as the value of the parameter, the page will close. If you
  	 	specify redirect:XXXX, the page will be redirected to XXXX.  
  	
  	WARNING: The url-patterns of all the servlets mus be disjoint. 
  			Our recommendation is that if you expecify X as the provider, the url-pattern of the 
  			initiation servlet could be	/AuthController/X, and the url-pattern of the callback
  			 servlet must be /oauth2callback/X.
  -->
  <!--    Spotify example -->
  
  <!--  
  <servlet>
    <description></description>
    <display-name>SpotifyAuthController</display-name>
    <servlet-name>SpotifyAuthController</servlet-name>
    <servlet-class>aiss.controller.oauth.GenericAuthController</servlet-class>
    <init-param>
    	<param-name>provider</param-name>
    	<param-value>Spotify</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>SpotifyAuthController</servlet-name>
    <url-pattern>/AuthController/Spotify</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SpotifyOAuth2Callback</display-name>
    <servlet-name>SpotifyOAuth2Callback</servlet-name>
    <servlet-class>aiss.controller.oauth.OAuth2Callback</servlet-class>
    <init-param>
    	<param-name>provider</param-name>
    	<param-value>Spotify</param-value>
    </init-param>
    <init-param>
    	<param-name>onSuccess</param-name>
    	<param-value>close</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>SpotifyOAuth2Callback</servlet-name>
    <url-pattern>/oauth2callback/Spotify</url-pattern>
  </servlet-mapping>
  
  -->

</web-app>